.cards {
  padding: 70px 0 80px;
  display: flex;
  flex-direction: column;
}

.cards__content {
  margin: 0 auto; 
  max-width: 1280px;
  width: calc(100% - 2 * 70px);
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 360px));
  grid-template-rows: auto;
  column-gap: 28px;
  row-gap: 32px;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.button {
  text-align: center;
  cursor: pointer;
  transition: opacity .3s linear;
}

.button:hover {
  opacity: 0.7;
}

.cards__btn {
  display: block;
  margin: 80px auto 0;
  width: 100%;
  padding: 11px 0 10px;
  max-width: 320px;
  border-radius: 3px;
  border: 1px solid var(--dark-grey);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  .cards {
    padding: 30px 0 30px;
  }
  .cards__content {
    width: calc(100% - 2 * 30px);
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 340px));
    column-gap: 24px;
    row-gap: 35px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    padding: 20px 0 40px;
  }
  .cards__content {
    width: calc(100% - 2 * 10px);
  }
  .cards__list {
    grid-template-columns: repeat(auto-fit, 300px);
    row-gap: 16px;
  }
  .cards__btn{
    margin: 80px auto 0;
  }
}