.card__element {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0px 4px 30px 0px #00000014;

  width: 100%;
  height: fit-content;
}

.card__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
}

.card__title {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__duration {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
  color: var(--text-grey);
}

.card__link {

}

.card__photo {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}

.card__save {
  background-color: var(--movie-grey);
  border-radius: 30px;
  border: none;
  margin: 18px auto;
  padding: 9px 15px;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: center;
}